{% extends 'base.html' %}

{% block body %}
<div class="container mt-4">
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid excepturi quisquam sapiente magnam veritatis dicta tenetur ullam doloribus illum delectus, iure ipsam voluptatem nesciunt temporibus quidem voluptatum! Cupiditate tempore asperiores porro libero. Nihil numquam dolor commodi assumenda ab quod ipsam optio dolorem veritatis, nostrum, totam error placeat? Quam, quisquam maiores tempora facere, in placeat deleniti reprehenderit enim delectus minus facilis. Soluta eaque distinctio exercitationem ipsam quam reiciendis impedit atque labore necessitatibus fugiat eos molestias repudiandae deleniti dicta deserunt quos animi pariatur itaque minima voluptatum perferendis, architecto excepturi beatae! Reprehenderit minus fugit est tempora excepturi, corrupti aspernatur quo neque ipsa laudantium!</h3>
</div>
{% endblock %}